.intro {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #ffffff;
  margin: 92px auto;
  max-width: 990px;
}

.intro__title {
  font-family: "Inter-Black", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0;
  max-width: 800px;
}

.intro__text {
  font-family: "Inter-Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  max-width: 700px;
}

.intro__text-autor {
  font-family: "Inter-Black", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: right;
  max-width: 700px;
}

.intro__paragraph {
  font-family: "Inter-Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0;
  max-width: 722px;
}

@media screen AND (min-width: 768px) AND (max-width: 1280px) {
  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__text {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text-autor {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen AND (min-width: 320px) AND (max-width: 768px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    font-size: 24px;
    line-height: 30px;
  }

  .intro__text-autor {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
